.social-share {
  ul {
    li {
      a {
        color: var(--dark-blue);
      }
    }
  }
}

// sticky-social-share
.sticky-social-share {
  .social-share {
    background-color: var(--bg9);
    border-radius: 30px;
    width: 10px;
    text-align: center;
    padding: 10px 10px;
    &.horizontal {
      ul {
        li {
          display: inline-block;
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 6px;
        a {
          font-size: 21px;
          display: block;
        }
      }
    }
  }
}
.social-share {
  &.horizontal {
    ul {
      li {
        display: inline-block;
        padding: 5px;
        margin-left: 10px;
      }
    }
  }
}

// content-area
.recent-blogs {
  padding: 10px;
  .image {
    img {
      width: 100%;
    }
  }
}
